.b24-form-header-title,.b24-form-field-agreement-link {color:#fff!important;}
.b24-form-header-title {text-align:left;}

.b24-form-dropdown .b24-form-control-list-selector-item {background:#ffffff;}
.b24-form-dropdown .b24-form-dropdown-container {background:#ffffff;}

.b24-form-field.b24-form-control-alert.b24-form-control-checkbox,
.b24-form-field.b24-form-control-alert.b24-form-control-radiobox,
.b24-form-field.b24-form-control-alert.b24-form-control-file,
.b24-form-field.b24-form-control-alert.b24-form-control-list .b24-form-control,
.b24-form-field.b24-form-control-alert.b24-form-control-string .b24-form-control,
.b24-form-field.b24-form-control-alert.b24-form-control-text .b24-form-control {background-color:#eeeeee;}

.b24-form-wrapper .b24-form-padding-side {padding-left:0;padding-right:0;}

.b24-window-popup-wrapper,
.b24-window-popup-wrapper .b24-window-popup-body,
.b24-window-popup-wrapper .b24-window-popup-head,
.b24-window-popup-wrapper .b24-window-popup-head .b24-window-popup-title {color:#fff;}

.b24-window-popup .b24-window-popup-wrapper {background:#333;}

.b24-form-wrapper .b24-form-recaptcha {display:none;}

.b24-form-sign-abuse-help {display:none!important;}

